

.right {
	float: right;
	margin-right:9px;
	right: 0px;
	z-index: 1;
}

.left {
	float: left;
	margin-left:9px;
	left:0px;
	z-index: 1;
}

#items .item {
	width: 43px;
	height: 43px;
	margin-top: 0.2em;
	border: 0.075em solid black;
	z-index: 999; 
	margin-left: 9px;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	z-index: 1;
}

#containers {
z-index: 1;
}
#items{
	position: absolute;
	z-index: 1;
}
#containers .container {
	position: relative;
	width: 43px;
	height: 43px;
	border-width: 2px;
	border-style: solid; 
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 1px solid #000000;
}

.container2 {
	position: relative;
	width: 10px;
	height: 10px;
	border-width: 2px;
	border-style: solid; 
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 1px solid #000000;
	z-index: 1;
}

#containers .item {
	position: absolute;
	width: 44px;
	height: 44px;
	border-width: 0px;
	border-style: solid; 
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
		margin-left: -16px;
    margin-top: -1px;
}
.resultados{
	margin-top:6px;
	position:relative;
	z-index: 1;
}

.con2 {	
	position: relative;
	width: 43px;
	height: 43px;
	border-width: 2px;
	border-style: solid; 
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 1px solid #000000;
	}
.c{
	margin-left:0px;
}


.calcular {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.terminar {
  background: #FF0000;
  background-image: -webkit-linear-gradient(top, #FF0000, #e02023);
  background-image: -moz-linear-gradient(top, #FF0000, #e02023);
  background-image: -ms-linear-gradient(top, #FF0000, #e02023);
  background-image: -o-linear-gradient(top, #FF0000, #e02023);
  background-image: linear-gradient(to bottom, #FF0000, #e02023);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.iniciar {
  background: #55ff00;
  background-image: -webkit-linear-gradient(top, #55ff00, #47de21);
  background-image: -moz-linear-gradient(top, #55ff00, #47de21);
  background-image: -ms-linear-gradient(top, #55ff00, #47de21);
  background-image: -o-linear-gradient(top, #55ff00, #47de21);
  background-image: linear-gradient(to bottom, #55ff00, #47de21);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

